.module-item {
    margin-bottom: "50px" !important;
    border: 2px;
    outline-color: black;
    outline: 1px;
    background-color: lightgrey !important;
}

.module-buttons .grey-button {
    color: black;
    border-color: lightgrey;
    border-style: solid;
    background-color: #e8e8e8;
}

.module-buttons .grey-button:hover {
    color: black;
    border-color: lightgrey;
    border-style: solid;
    
}

.module-buttons .mod-button {
    margin: 1px;
    outline: 1px;
}

.margin-5 {
    margin: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}