.module-item {
    margin-bottom:"50px" !important;
    border:2px;
    outline-color: black;
    outline: 1px;
    background-color: lightgrey !important;
}

.grey-button {
    margin: 5px;
    outline: 1px;
    outline-color: lightgrey;
    outline-style: solid;
}