.page-navbar-item {
    color: #D41B2C !important;
    text-decoration: none;
    border: 0 !important;
}

.page-navbar-item:hover {
    color: #D41B2C;
    text-decoration: none;
}

.page-navbar-selected {
    color: black !important;
    text-decoration: none !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: solid !important;
    border-color: black !important;
}