
.navbar-item {
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: small;
    border: 0;
}

.navbar-item:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    border: 0;
}

.navbar-item-active {
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: small;
    background-color: white;
    color: #D41B2C;
    border: 0;
}

.navbar-item-active:hover {
    background-color: white;
    color: #D41B2C;
    border: 0;
}