.home-sidebar .home-button {
    width: 100%;
    margin-top: 5px;
    background-color: #e8e8e8;
    color: black;
    border-color: lightgrey;
}

.button-icon {
    margin-right: 5px;
}

.calendar-item {
    display: inline-block;
    vertical-align: top;
}

.calendar-item-icon {
    display: inline-block;
    color: #D41B2C;
    vertical-align: top;
    margin: 5px;
}

.red-link {
    color: #D41B2C;
    text-decoration: none;
}