.navbar {
    width: 85px;
    background-color: black;
}

.navbar-item {
    align-items: center;
    padding: 5px;
    margin: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: small;
}

.navbar-item:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.navbar-item-active {
    padding: 5px;
    text-align: center;
    align-items: center;
    margin: 5px;
    font-size: small;
    background-color: white;
    color: #D41B2C;
}

.navbar-item-active:hover {
    background-color: white;
    color: #D41B2C;
}

.acc-navbar {
    width: 200px;
    display: block;
    margin-left: 25px;
}

.acc-navbar-item {
    display: inline-block;
    margin-top: 10px;
    color: #D41B2C;
    text-decoration: none;

    /* taken from Stack Overflow, used to wrap text if too long*/
    /* https://stackoverflow.com/questions/5241369/word-wrap-a-link-so-it-doesnt-overflow-its-parent-div-width */
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.acc-navbar-item:hover {
    color: #D41B2C;
    text-decoration: none;
}

.acc-navbar-selected {
    display: inline-block;
    margin-top: 12px;
    color: black;
    text-decoration: none;
    border-left: solid;
    border-color: black;
    outline-offset: 10px;

    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

.red-link {
    color: #D41B2C;
    text-decoration: none;
}

.black-bg {
    background-color: black;
    width: 105px;
}

.prof-label {
    font-weight: bold;
    font-size: large;
}

.course-card {
    margin: 15px;
}

.course-card-link {
    text-decoration: none;
}

.module-item {
    font-weight: bold;
}

.module-item-text {
    padding-left: 70px;
}

.top-space-10 {
    margin-top: 10px;
}