.ass-buttons .grey-button {
    color: black;
    border-color: lightgrey;
    border-style: solid;
    background-color: #e8e8e8;
}

.ass-buttons .grey-button:hover {
    color: black;
    border-color: lightgrey;
    border-style: solid;
    
}

.ass-buttons .ass-button {
    margin: 2px;
    outline: 1px;
}

.rounded-box {
    border-radius: 10px;
    border-style: solid;
    color:black;
    border-color: darkgrey;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.green-icon {
    color: green;
}

.ass-icon {
    margin: 20px;
}

.ass-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
