body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    #wd-kanbas .wd-main-content-offset {
        padding-left: 140px !important;
    }
}

.list-group.wd>.list-group-item.active {
    color: black;
    background-color: white;
    border-left: 3px solid black !important;
}

.btn-secondary {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #c7cdd1 !important;
    --bs-btn-border-color: #c7cdd1 !important;
    --bs-btn-hover-color: #fff !important;
}

.bg-secondary {
    --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
    --bs-list-group-border-color: gray;
}

.wd-lesson {
    border-left: 3px solid green !important;
}

#wd-course-status {
    margin-left: 20px;
}

.rounded-border {
    border-radius: 50px;
}

.grey-border {
    border: solid rgb(194, 194, 194);
}


#wd-search-assignment {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    height: 50px;
}

.assign-btn {
    margin: 10px;
}

.wd-assignment-link {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: large;
}

.assignment-desc {
    font-size: medium;
}

.red-text {
    color: red;
}

.vertical-center {
    vertical-align: middle;
}

#wd-submission-type {
    margin: 10px;
    width: 95%;
}

.margin-10 {
    margin: 10px;
}

.assign-edit-label {
    text-align: end;
}

#wd-assign-to {
    width: 95%;
}

#wd-due-date {
    width: 95%;

}

.cancel-btn {
    color: #000;
    text-decoration: none;
}

.save-btn {
    color: white;
    text-decoration: none;
}